.card {
  max-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  overflow: hidden;
  background-color: dodgerblue;
  color: ghostwhite;
  img {
    width: 100%;
  }
  .card-inner {
    padding: 1rem;
  }
}